#GITIGNORE for Arcticraft

/Arcticraft/.metadata
/Arcticraft/bin/
/Arcticraft/conf/
/Arcticraft/docs/
/Arcticraft/eclipse/
/Arcticraft/forge/
/Arcticraft/jars/
/Arcticraft/lib/
/Arcticraft/logs/
/Arcticraft/reobf/
/Arcticraft/runtime/
/Arcticraft/temp/
/Arcticraft/CHANGELOG
/Arcticraft/LICENSE.txt


*.bat
*.sh
*.zip
*.cfg

/Arcticraft/src/minecraft/cpw/
/Arcticraft/src/minecraft/ibxm/
/Arcticraft/src/minecraft/paulscode/
/Arcticraft/src/minecraft/net/
/Arcticraft/src/minecraft/resources/
/Arcticraft/src/minecraft/fmlversion.properties
/Arcticraft/src/minecraft/forge_logo.png
/Arcticraft/src/minecraft/mcp.png
/Arcticraft/src/minecraft/mcpmod.info
/Arcticraft/src/minecraft/Start.java